body {
   background-color: grey;
}

.stars {
display: flex;
padding: 0;
margin: 0;
}

.stars li {
list-style-type: none
}

.star-item {
font-size:5em;
color: gold;
cursor: pointer;
}

.star-item::before {
content: "\2605";
}

.star-item.active ~ .star-item::before {
content: "\2606";
}

.stars:hover .star-item::before {
content: "\2605";
}

.star-item:hover ~ .star-item::before {
content: "\2606";
}